* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-container {
  /* border: 1px solid black; */
  width: 1366px;
  height: 100vh;
  margin: auto;
  position: relative;
}

.details-container {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 496px;
  display: flex;
  flex-direction: column;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: -6px 0px 8px #0a0e1214;
  opacity: 1;
}

.details-header {
  /* border: 1px solid green; */
  height: 115px;
  padding-top: 13px;
}

.details-header > div:first-child {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.details-header > div:first-child > div:first-child {
  display: flex;
  align-items: center;
  gap: 12px;
}

.details-header > div:first-child > div:last-child {
  display: flex;
  gap: 17px;
}

.details-header > div:first-child > div:first-child > div:last-child {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: flex-start;
}

.details-header > div:first-child > div:first-child > div:last-child > i {
  font-size: 8px;
}

.details-header > div > div:first-child > div:last-child p {
  font-size: 12px;
}

.details-header > div > div:first-child > div:nth-child(2) > p:first-child {
  font-size: 14px;
  font-weight: 700;
}

.details-header > div > div:first-child > div:nth-child(2) > p:last-child {
  font-size: 10px;
  color: gray;
}

.details-header > div:last-child {
  /* border: 1px solid red; */
  height: 54px;
  margin: 12px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.details-header > div:last-child > div {
  border: 1px solid rgb(242, 242, 242);
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.details-header > div:last-child > div:nth-child(4) > div,
.details-header > div:last-child > div:nth-child(5) > div,
.details-header > div:last-child > div:nth-child(6) > div {
  height: 13px;
  width: 13px;
  background: #e9edf0 0% 0% no-repeat padding-box;
  border-radius: 4px;
}

.details-header > div:last-child > div:nth-child(4) > div:last-child,
.details-header > div:last-child > div:nth-child(5) > div:last-child,
.details-header > div:last-child > div:nth-child(6) > div:last-child {
  width: 48px;
}

.details-header > div:last-child > div:nth-child(3) {
  border: 0px;
  outline: 2px dashed blue;
  outline-offset: 3px;
  border-radius: 1px;
}

.details-header > div:last-child > div p,
.details-header > div:last-child > div i {
  font-size: 12px;
}

.details-header > div:last-child > div:first-child i {
  color: gray;
  opacity: 0.3;
}

.details-header > div:last-child > div:last-child,
.details-header > div:last-child > div:first-child {
  border: 1px solid rgb(246, 246, 246);
  border-radius: 2px;
  width: 20px;
  height: 100%;
}

.details-content {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  color: gray;
}

.details-content > div:first-child {
  /* border: 1px solid black; */
  font-size: 13px;
  font-weight: 700;
  display: flex;
  gap: 10px;
}

.details-content > div:first-child > div:last-child {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 6px;
}

.details-content-table {
  font-size: 12px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 14px;
}

.details-black-clr {
  color: black;
  font-weight: 600;
}

.details-captions {
  color: #53646c;
}

.details-content-table > div {
  /* border: 1px solid black; */
  padding: 2px;
  display: flex;
  gap: 31px;
}

.details-content-table > div:nth-child(2) > div:last-child {
  /* border: 1px solid black; */
  display: flex;
  gap: 16px;
}

.details-content-table > div:nth-child(2) > div:last-child > div:last-child {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 6px;
  background-color: #f2f5f8;
  border-radius: 4px;
  height: 35px;
  width: 152px;
  padding: 0 10px;
}

.details-content-table > div:nth-child(2) > div:last-child > div:nth-child(2) {
  height: 35px;
  width: 35px;
  background-color: #f2f5f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-progress-btn {
  background: #ffc80b 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  height: 35px;
  border: unset;
  width: 121px;
  font-size: 12px;
  color: white;
}

.details-progress-btn + div i {
  font-size: 10px;
  font-weight: 900;
  color: black;
}

.details-content-table > div:nth-child(4) p:last-child,
.details-content-table > div:nth-child(3) p:last-child{
  /* border: 1px solid red; */
  margin-left: 10px;
  color: black;
}

.details-content-table > div:nth-child(2) > div:last-child { 
  /* border: 1px solid black; */
  margin-left: -14px;
 }